*{
    background-color: rgb(255, 253, 128);
}
#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
button{
    background: transparent;
    color: rgb(248, 150, 166);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    padding: 16px 36px;
    border: 2px solid rgb(248, 150, 166);
    border-radius: 32px;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
}
button::before{
    content: "";
    position: absolute;
    background: 2px solid rgb(239, 161, 174);
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(6px);
}
    button:hover::before{
        left: calc(100% + 32px);
        transition: 0.75s;
    }